catalog_19031377.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Store">
    <xs:annotation>
      <xs:documentation>Linking CSSLinking DTDlinking Schema</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Store_Details">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Name"/>
              <xs:element type="xs:long" name="Contact_No"/>
              <xs:element name="Address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="State"/>
                    <xs:element type="xs:string" name="City"/>
                    <xs:element type="xs:string" name="Street"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="Website"/>
              <xs:element type="xs:string" name="Logo"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Songs">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Song_Details" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Genre"/>
                    <xs:element type="xs:string" name="buy"/>
                    <xs:element type="xs:string" name="Song_Name"/>
                    <xs:element type="xs:string" name="Director"/>
                    <xs:element type="xs:string" name="Producer" maxOccurs="unbounded" minOccurs="0"/>
                    <xs:element type="xs:string" name="Writer" maxOccurs="unbounded" minOccurs="0"/>
                    <xs:element name="Singer" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="title" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Description" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Des" maxOccurs="unbounded" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="Release_Date"/>
                    <xs:element type="xs:string" name="Studio" minOccurs="0"/>
                    <xs:element name="Price" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:short">
                            <xs:attribute type="xs:string" name="currency" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:float" name="Rating" minOccurs="0"/>
                    <xs:element type="xs:string" name="Editor" minOccurs="0"/>
                    <xs:element type="xs:string" name="Production_Company" minOccurs="0"/>
                    <xs:element name="Image">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="id" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="song_id" use="optional"/>
                  <xs:attribute type="xs:string" name="type" use="optional"/>
                  <xs:attribute type="xs:string" name="length" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>